name: build-flutter-final
on:
  push:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 1-clone
        uses: actions/checkout@v4
      - name: 2-java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
      - name: 3-flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - name: 4-build
        run: |
          cd clickforshine_3.0
          flutter pub get
          flutter build apk --release
      - name: 5-save
        uses: actions/upload-artifact@v4
        with:
          name: ClickforShine-APK
          path: clickforshine_3.0/build/app/outputs/flutter-apk/app-release.apk
