build-final-shine
on:
  push:
    branches: [ main ]

jobs:
  android-build:
    runs-on: ubuntu-latest
    steps:
      - name: 1-checkout
        uses: actions/checkout@v4

      - name: 2-setup-node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: 3-build-process
        run: |
          cd clickforshine_3.0
          npm install --legacy-peer-deps
          npx expo prebuild --platform android --yes --no-interactive
          cd android
          chmod +x gradlew
          ./gradlew assembleRelease --no-daemon

      - name: 4-upload-apk
        uses: actions/upload-artifact@v4
        with:
          name: ClickforShine-Installer
          path: clickforshine_3.0/android/app/build/outputs/apk/release/*.apk
