name: master-build-repair
on:
  push:
    branches: [ main ]
jobs:
  ultra-build:
    runs-on: ubuntu-latest
    steps:
      - name: fetch-source
        uses: actions/checkout@v4

      - name: config-java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: config-flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: scan-and-force-fix
        run: |
          # 1. Encontrar a pasta do Flutter não importa onde ela esteja
          FLUTTER_PATH=$(find . -name "pubspec.yaml" -exec dirname {} \;)
          cd "$FLUTTER_PATH"
          echo "Alvo detectado em: $FLUTTER_PATH"
          
          # 2. Permissão total (Root) no motor de build
          find . -name "gradlew" -exec chmod 777 {} \;
          
          # 3. Limpeza de conflitos e download de dependências
          flutter clean
          flutter pub get
          
          # 4. Compilação bruta para Android
          flutter build apk --release --no-pub

      - name: secure-artifact
        uses: actions/upload-artifact@v4
        with:
          name: ClickforShine-Final-App
          path: "**/app-release.apk
